[Desktop Entry]
Name=Dr460nized Rounded
X-KDE-PluginInfo-Author=FGD and dr460f1r3
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Dr460nized-Rounded
X-KDE-PluginInfo-Version=1.0
